<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Spring Boot Thymeleaf - Bootstrap WebJars</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="home-nav" th:replace="~{/fragments/nav-top :: nav-default}">
  Home Nav
</div>
<div th:if="${successMessage != null && !successMessage.equals('')}" class="alert alert-success alert-dismissible fade show" role="alert">
  <span th:text="${successMessage}"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container container-md pt-3">
  <div class="row">
    <form class="col-md-9 form-inline" method="GET" th:action="@{/admin}">

        <div class="form-group mb-2 col-md-9">
          <input type="text" th:filed="${search}" name="search" class="form-control w-100" id="inputSearch" placeholder="Tìm kiếm theo tên đăng nhập, tên công trình ...">
        </div>
        <button type="submit" class="btn btn-success mb-2 col-md-3">Tìm kiếm</button>
    </form>
    <div class="col-md-3 text-right">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalAddUser">
        Thêm mới tài khoản
      </button>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12 mt-3">
      <table id="posts"

             class="table table-bordered table-responsive-sm table-hover">
        <thead  class="thead-light">
        <tr >
          <th scope="col">#</th>
          <th>Tài khoản</th>
          <th>Tên công trình</th>
          <th>Ngày hết hạn</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user,state  : ${users}" th:object="${user}">
          <td scope="row" th:text="${state.count}"></td>
          <td th:text="*{username}"></td>
          <td th:text="*{name}"></td>
          <td th:text="*{expiredDate}"></td>
          <td ><button class="btn btn-danger" th:onclick="changeUser([[${user}]])">Thay đổi</button> </td>
        </tr>
        </tbody>
      </table>


    </div>

  </div>
  <div class="row">
    <nav aria-label="Page navigation example" class="col-12 mt-2 ">
      <ul class="pagination flex align-items-center justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>


<!-- Modal -->
<div  class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="modalAddUserTitle" aria-hidden="true">
  <form th:action="@{/add-user}" th:object="${userForm}" method="POST">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddUserTitle">Thêm mới người dùng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="usernameInput">Tên đăng nhập <span style="color: red">*</span> </label>
          <input  type="text" th:field="*{username}"  th:classappend="!*{usernameErr == null || usernameErr.equals('')} ? 'border-danger'" class="form-control" id="usernameInput" aria-describedby="usernameDescription" placeholder="Tài khoản">
          <small th:if="*{usernameErr == null || usernameErr.equals('')}" id="usernameDescription" class="form-text text-muted">Tài khoản chỉ bao gồm các ký tự a-z và số.</small>
          <small th:text="*{usernameErr}" th:if="!*{usernameErr == null || usernameErr.equals('')}" class="form-text text-danger" ></small>
        </div>
        <div class="form-group">
          <label for="inputPassword">Mật khẩu <span style="color: red">*</span> </label>
          <input type="password" th:classappend="!*{passwordErr == null || passwordErr.equals('')} ? 'border-danger'" th:field="*{password}" class="form-control" id="inputPassword" placeholder="Mật khẩu">
          <small th:if="*{passwordErr == null || passwordErr.equals('')}" id="passwordDescription" class="form-text text-muted">Mật khẩu mặc định là Abc@1234, tối thiểu  ký tự</small>

        </div>
        <div class="form-group">
          <label for="nameInput">Tên công trình</label>
          <input type="text" class="form-control" th:field="*{name}" id="nameInput" aria-describedby="usernameDescription" placeholder="Nhập tên công trình">
        </div>
        <div class="form-group">
          <label for="datetimepicker2">Ngày hết hạn</label>
          <div class="input-group date" id="datetimepicker2">
            <input id="expiredDateInput" required type='date' class="form-control" th:field="*{expiredDate}" />
            <input type="checkbox" class="form-check-input" th:field="*{created}" id="created" hidden>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Lưu</button>
      </div>
    </div>
  </div>
  </div>
  </form>
</div>

<!-- Modal -->
<div  class="modal fade" id="modalUpdateUser" tabindex="-1" role="dialog" aria-labelledby="modalAddUserTitle" aria-hidden="true">
  <form th:action="@{/update-user}" th:object="${userForm}" method="POST">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalUpdateUserTitle">Sửa mới người dùng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="usernameInput">Tên đăng nhập <span style="color: red">*</span> </label>
            <input type="text" th:field="*{username}"  th:classappend="!*{usernameErr == null || usernameErr.equals('')} ? 'border-danger'" class="form-control" id="usernameInputUpdate" aria-describedby="usernameDescription" placeholder="Tài khoản">
            <small th:if="*{usernameErr == null || usernameErr.equals('')}" id="usernameDescriptionUpdate" class="form-text text-muted">Tài khoản chỉ bao gồm các ký tự a-z và số.</small>
            <small th:text="*{usernameErr}" th:if="!*{usernameErr == null || usernameErr.equals('')}" class="form-text text-danger" ></small>
          </div>
          <div class="form-group">
            <label for="inputPassword">Mật khẩu <span style="color: red">*</span> </label>
            <input type="password" th:classappend="!*{passwordErr == null || passwordErr.equals('')} ? 'border-danger'" th:field="*{password}" class="form-control" id="inputPasswordUpdate" placeholder="Mật khẩu">
            <small th:if="*{passwordErr == null || passwordErr.equals('')}" id="passwordDescriptionUpdate" class="form-text text-muted">Mật khẩu mặc định là Abc@1234, tối thiểu  ký tự</small>

          </div>
          <div class="form-group">
            <label for="nameInput">Tên công trình</label>
            <input type="text" class="form-control" th:field="*{name}" id="nameInputUpdate" aria-describedby="usernameDescription" placeholder="Nhập tên công trình">
          </div>
          <div class="form-group">
            <label for="datetimepicker2">Ngày hết hạn</label>
            <div class="input-group date" >
              <input id="expiredDateInputUpdate" required type='date' class="form-control" th:field="*{expiredDate}" />
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script th:inline="javascript">

  $("#modalAddUser").modal([[${showPopup}]]+"");
  setTimeout(() =>{
    $(".alert").alert("close");
  }, 5000);
  function changeUser(user) {
    $('#usernameInputUpdate').val(user.username);
    $('#nameInputUpdate').val(user.name);
    $('#expiredDateInputUpdate').value = getExpiredDate(user.expiredDate);
    $("#modalUpdateUser").modal('show');
  }
  function getExpiredDate(dateString) {
    debugger;
    var expiredDate = new Date(dateString);
    const yyyy = expiredDate.getFullYear();
    let mm = expiredDate.getMonth() + 1; // Months start at 0!
    let dd = expiredDate.getDate();

    if (dd < 10) dd = '0' + dd;
    if (mm < 10) mm = '0' + mm;
    return dd + '/' + mm + '/' + yyyy;
  }
</script>
</body>
</html>
